:root {
    --primary-color: hsl(113, 100%, 39%);
    --box-color: hsl(0, 100%, 65%);
    --color-white: hsl(0, 0%, 95%);
    --color-black: hsl(0, 0%, 15%);
    --border-button-review: solid 0.5mm var(--border-button-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-white);
    color: var(--color-black);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--color-white);
    padding: 1.2rem;
}

.logo {
    width: 100px;
}

header a {
    color: var(--color-white);
    text-decoration: none;
    margin-left: 1rem;
    font-size: 20px;
}

main {
    padding: 2rem;
}
#login-form {
    display: flex;
    flex-direction: column;
}

#email {
    width: 300px;
    margin-bottom: 10px;
    font-size: 18px;
    border: solid 0.3mm var(--primary-color);
    padding: 5px;
}

#password {
    width: 300px;
    margin-bottom: 20px;
    font-size: 18px;
    border: solid 0.3mm var(--primary-color);
    padding: 5px;
}
#places-list {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#filter {
    text-align: center;
    font-size: 25px;
}

#price-filter{
    font-size: 20px;
    padding: 2px;
}

.place-card{
    background-color: var(--box-color);
    padding: 20px 24px;
    width: 300px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.space-card{
    padding-bottom: 10px;
    font-size: 25px;
}

.title-card {
    padding-bottom: 10px;
    font-size: 30px;
    text-align: center;
}

.details-button {
    color: var(--color-white);
    background: var(--primary-color);
    padding: 5px;
    font-size: 25px;
    border: var(--border-button-review);
    border-radius: 15px;
}

#place-details {
    color: var(--color-black);
    background-color: var(--box-color);
    border: var(--border-button-color);
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    border-radius: 75px;
}

#review {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

.review-card{
    background-color: var(--box-color);
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 15px;
    border-radius: 15px;
}

.button-review {
    width: 100%;
    font-size: 20px;
    background: var(--primary-color);
    color: var(--color-white);
    border: var(--border-button-review);
    border-radius: 15px;
    padding: 7px;
}

#review-form {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

label {
    font-size: 25px;
    margin-bottom: 8px ;
}

#review-text {
    background-color: var(--box-color);
    height: 150px;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 6px;
    border: solid 0.5mm var(--primary-color);
    border-radius: 15px;
}

#rating {
    width: 250px;
    font-size: 30px;
    margin-bottom: 30px;
    color: var(--primary-color);
}

footer {
    background-color: var(--primary-color);
    color: var(--color-white);
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    position: fixed;
}

a:hover {
    text-decoration: underline;
    font-size: 21px;
    transition: 200ms;
}

.button-review:hover, .details-button:hover {
    box-shadow: 0px 0px 10px var(--border-button-color);
    transition: 200ms;
    background: hsl(113, 100%, 45%);
}
